.image-container {
    width: auto;
    height: 580px;
    display: flex;
    color: white
    background-blend-mode overlay;
    background-image: url("./hero-bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover
        
}

.dine {
    margin-left: 160px;
    color: white;
    padding-top: 30px;
    font-size: 40px;


}

.sameline {
    margin-left: -65px ;
    margin-top: 250px;
    color: white;
    font-size: 20px;
    
    
}


form {
    position: absolute;
    text-align: center;
    bottom: -90px;
    width: 30%;
    height: 330px;
    background-color: white;
    margin-left: 690px;
    margin-bottom: 10px;
    z-index: 2;
    
}

.middleimg {
    
    height: 290px;
}

#AM-PM{
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(./icon-arrow.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: calc(100% - 3px) center;
  
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    padding: 10px;
    padding-right: 25px;
}

input {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none; 
    width: 20%;
}

#patternline {
    position: absolute;
    left: 620px;
    top: 710px;
    bottom: -10px;
    z-index: 1;
}

#patternback {
    width: 900px;
}

.Footer {
    display: flex;
    height: 170px;
    background-color: black   
}

#secondtext {
    padding-left: 250px;
    padding-top: 52px;
}
#thirdtext {
    padding-left: 120px; 
    padding-top: 52px;
    
}

#firsttext{
    padding-left: 150px;
    padding-top: 40px;   
}


#b1 {
    position: relative;
    top: 10px;
    width: 300px;
    height: 30px;
    color: white;
    background-color: black;
    border: none;
}

#Name {
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    width: 300px;
    
}

#Email {
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    width: 300px;
}

#pick {
    padding: 10px;
    margin-left: -60px;
    
}

#mm {
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    width: 30px;
}

#dd {
    padding: 10px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    width: 30px;
}

#yy {
    padding: 10px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    width: 40px;
}

#time {
    padding: 10px;
    margin-left: -60px;
}

#hour {
    padding: 10px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    width: 30px;
}

#minute {
    padding: 10px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    width: 30px;
}

.am {
    padding: 30px;
}
#people {
    display: flex;
}
#plus {
    width: 7px;
    height: 7px;
    left: 100px;
    padding-left: 100px;
    padding-top: 48px;
}

#minus {
    width: 7px;
    height: 2px;
    padding-top: 48px;
    padding-left: 60px;
}

#peopletext {
    padding-top: 0px;
    padding-left: 100px;
    margin-top: 40px;
    
}
@media (max-width: 768px) {
    #patternline {
        position: absolute;
        left: 270px;
        top: 520px;
        bottom: -10px;
        z-index: 1; 
    }
    form {
        position: absolute;
        text-align: center;  
        bottom: 300px;
        width: 60%;
        height: 400px;
        background-color: white;
        margin-left: 130px;
        margin-bottom: 35px;
        z-index: 2;
        
    }
    .dine {
        margin-left: 30px;
        color: white;
        padding-top: 0px;
    } 
    .sameline {
        margin-left: 70px ;
        text-align: center;
        margin-top: 70px;
        color: white;   
    }   
    .Footer {
        display: flex;
        height: 350px;
        background-color: black       
    }
    #secondtext {
        padding-left: 180px;
        padding-top: 45px;
    }
    #thirdtext {
        margin-left: -320px;
        padding-top: 170px;
        
    }
    
    #firsttext{
        padding-left: 20px;
        padding-top: 30px;   
    }

    
#peopletext {
    padding-top: 0px;
    padding-left: 130px;
    margin-top: 40px;
}
}
@media (max-width: 768px) {
    form {
        position: absolute;
        text-align: center;  
        bottom: 10px;
        width: 75%;
        height: 400px;
        background-color: white;
        margin-left: 50px;
        margin-bottom: 35px;
        z-index: 2;
        
    }

    

    .dine {
        position: relative;

        text-align: center;
        margin-left: 140px;
        color: white;
        padding-top: 0px;
        
    } 
    .sameline {
        margin-left: -160px ;
        text-align: center;
        margin-top: 70px;
        color: white;  
        font-size: 15px; 
    }
    
    .Footer {
        padding-bottom: -500px;
        display: flex;
        height: 350px;
        background-color: black 
              
    }
    #secondtext {
        padding-left: 180px;
        padding-top: 45px;
    }
    #thirdtext {
        margin-left: -320px;
        padding-top: 170px;
        
    }
    
    #firsttext{
        padding-left: 20px;
        padding-top: 30px;   
    }
    #patternback {
        width: 360px;
        height: 400px;
    }
    #patternline {
        position: absolute;
        left: 170px;
        top: 520px;
        bottom: -10px;
        z-index: 1; 
    }

    #peopletext {
        padding-top: 0px;
        padding-left: 70px;
        margin-top: 40px;
    }
    #plus {
        width: 7px;
        height: 7px;
        left: 100px;
        padding-left: 60px;
        padding-top: 48px;
    }
    
    #minus {
        width: 7px;
        height: 2px;
        padding-top: 48px;
        padding-left: 40px;
    }

    #Name {
        padding: 10px;
        margin-top: 15px;
        border: none;
        background: transparent;
        border-bottom: 1px solid;
        width: 230px;
        
    }
    
    #Email {
        padding: 10px;
        margin-top: 15px;
        border: none;
        background: transparent;
        border-bottom: 1px solid;
        width: 230px;
    }

    #pick {
        padding: 10px;
        margin-left: -10px;
    }
    #time {
        padding: 10px;
        margin-left: -10px;
    }

    #b1 {
        position: relative;
        top: 50px;
        width: 230px;
        height: 50px;
        color: white;
        background-color: black;
        border: none;
    }

    #secondtext {
        padding-left: 110px;
        padding-top: 45px;
    }
    #thirdtext {
        padding-left: 167px;
        padding-top: 170px;
        
    }
    
    #firsttext{
        padding-left: 20px;
        padding-top: 30px;   
    }

}

